body {
    background-color: black;
}

main {
    margin-left: calc(50% - 450px);
    display: inline-block;
    width: 900px;
    margin-top: 30px;
    background-color: aquamarine;
}

header {
    display: flex;
    margin: 15px 10px 15px 10px;
    background-color: orangered;
}

h1 {
    float: left;
    width: 215px;
    margin: 10px;
    background-color: aqua;
}

h2 {
    width: 430px;
    margin: 10px;
    margin-left: 210px;
    background-color:beige;
}

article {
    background-color: rgb(58, 27, 236);
    display: flex;
    width: 880px;
    height: 330px;
    margin: 10px;
}

section {
    background-color: gold;
    float: left;
    width: 420px;
    height: 310px;
    margin-left: 10px;
    margin-top: 10px;
}

.section2{
    background-color: tomato;
    float: right;
    margin-left: 20px;
}

.lorem {
    background-color: lime;
    float: right;
    width: 294px;
    margin: 10px;
}

.ipsum {
    background-color: limegreen;
    float: left;
    width: 150px;
    margin: 10px;
}

.dolor {
    background-color:white;
    float: right;
    width: 220px;
    margin: 10px;
}

.sit {
    background-color: lightpink;
    float: left;
    width: 290px;
    margin: 10px;
}

.nulla {
    background-color: brown;
    float: left;
    width: 294px;
    margin: 10px;
}

footer {
    background-color: thistle;
    width: 880px;
    margin: 10px;
}

.first1 {
    background-color:azure;
    float: right;
    width: 294px;
    margin: 10px;
}

.second2 {
    background-color:rgb(212, 55, 226);
    float: left;
    width: 294px;
    margin: 10px;
}